    body {
        margin: 0!important;
        height: 100%;
        background-color: #fff;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    }
    
    .site-navbar {
        background-color: #2f3337;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }
    
    .site-navbar {
        margin-bottom: 0px;
        z-index: 1999;
        position: relative;
        width: 100%;
        padding: 0 2rem;
    }
    
    .position-relative {
        position: relative!important;
    }
    
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .position-relative {
        position: relative!important;
    }
    
    .align-items-center {
        -webkit-box-align: center!important;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    
    .col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .site-navbar .toggle-button {
        position: absolute;
        right: 0px;
        top: -1.5rem;
        color: #fff;
    }
    
    @media (min-width: 992px) {
        .d-lg-none {
            display: none!important;
        }
    }
    
    .d-inline-block {
        display: inline-block!important;
    }
    
    .text-left {
        text-align: left!important;
    }
    
    .ml-auto,
    .mx-auto {
        margin-left: auto!important;
    }
    
    nav {
        display: inline-block;
    }
    
    .site-navbar .site-navigation .site-menu {
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
    }
    
    @media (min-width: 992px) {
        .d-lg-block {
            display: block!important;
        }
    }
    
    site-navbar .site-navigation .site-menu>li {
        display: inline-block;
    }
    
    nav ul li {
        display: inline-block;
        list-style: none;
        position: relative;
    }
    
    .site-navbar .site-navigation .site-menu>li>a {
        margin-left: 15px;
        margin-right: 15px;
        padding: 20px 0px;
        color: #fff !important;
        display: inline-block;
        text-decoration: none !important;
        text-transform: uppercase;
    }
    
    .site-navbar .site-navigation .site-menu a {
        text-decoration: none !important;
        display: inline-block;
    }
    
    .sticky-wrapper .site-navbar ul li a {
        color: rgba(255, 255, 255, 0.7) !important;
    }
    
    .nav-link {
        display: block;
        padding: 0.5rem 1rem;
    }
    
    nav>ul>li>a {
        position: relative;
    }
    
    a {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }
    
    #right-nav {
        float: right;
    }
    
    .text-right {
        text-align: right!important;
    }
    
    .site-navbar .site-logo {
        position: absolute;
        font-size: 2.3rem;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 0;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
        top: 0.5rem;
        padding: 0;
        z-index: 3;
    }
    
    .site-navbar .site-logo a {
        text-align: center;
        text-decoration: none;
        color: #fff;
        text-shadow: 2px 4px black;
    }
    
    .fa-check-square {
        font-size: 3rem;
    }
    
    #my-logo {
        padding-left: 0.6rem;
    }
    
    .Partner-section {
        background: rgba(220, 240, 251, .5);
        background-size: contain;
        width: 100%;
        padding: 45px 0 0 0; 
    }
    
    .Partner-display-section {
        width: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    
    .Partner-content-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem;
    }
    
    .Partner-content-section h1 {
        width: 100%;
        font-style: normal;
        font-weight: 700;
        font-size: 39px;
        line-height: 48px;
        color: #222;
    }
    
    .Partner-content-section p {
        margin-top: 18px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 37px;
        color: #555;
    }
    
    .Partner-image-section {
        width: 100%;
        height: 385px;
        position: relative;
    }
    
    .Partner-image-template {
        opacity: 1;
        z-index: 3;
        background: transparent;
        background-repeat: no-repeat;
        background-size: 200% 100%;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: TemplateShimmer__placeholderShimmer--3ABuG;
        animation-timing-function: linear;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: opacity .5s ease-in-out;
        display: flex;
        justify-content: center;
    }
    
    .partner-form {
        width: fit-content;
        height: fit-content;
    }
    
    @media(max-width:769px) {
        .Partner-display-section {
            flex-direction: column;
        }
        .Partner-image-template {
            width: 75vw;
            margin: 5vw;
        }
    }
    
    .Partner-image-section .Partner-image-template img {
        object-fit: cover;
        height: 100%;
    }
    
    .Partner-btn {
        text-decoration: none;
        padding: 17px 60px;
    }
    
    .btn-primary {
        color: #fff;
        background-color: #4680ec;
        border: 1px solid transparent;
    }
    
    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 700;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        text-decoration: none;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 11px 12px;
        font-size: 15px;
        line-height: 1.35135;
        border-radius: 2px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .tile {
        text-align: center;
        width: 33.3%;
        padding: 4px;
        contain: content;
        font-size: small;
        margin-top: 1rem;
        color: #007D51;
    }
    
    .tile img {
        height: 3rem;
    }
    
    .svg-container1 {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .svg-heading
    {
      text-align: center;
        flex-direction: row;
    }
    .svg-container2 {
        flex-direction: row;
        margin: 2rem auto;
        justify-content: space-around;
        width: 75%;
        display: flex;
    }
    .thumbnail-img .svg-heading
    {
        font-size: 1rem;
        color: #000;

    }
    .thumbnail-img .svg-content
    {
        color: #555;
        margin: 0 10%;
        }
        .input
        {
            border-radius: 20px;
            padding: 10px;
            margin: 10px 0;
            width: 100%;
            border: 1px solid #999;
            outline: none;
        }
        .partner-form button
        {
            color: #fff;
            width: 100%;
            padding: 10px;
            border-radius: 20px;
            font-size: 15px;
            margin: 10px 0;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: #1c8adb;
        }
        .eeEasyStepsSectionBody {
            display: table;
            border-spacing: 0px 0px;
            width: 80%;
            margin: 3rem auto;
        }
        
        @media (max-width: 767px) {
            .eEasyStepsSectionBody,
            .eeEasyStepsSectionBody {
                display: block;
            }
        }
        
        .eeRow {
            display: table-row;
        }
        
        @media (max-width: 767px) {
            .eeRow {
                display: block;
                text-align: center;
            }
        }
        
        .eeEasyStepsSectionBody .eeCell.eeLeft,
        .eeEasyStepsSectionBody .eeCell.eeRight {
            width: 50%;
            vertical-align: middle;
        }
        
        .eeEasyStepsSectionBody .eeCell {
            text-align: left;
            vertical-align: middle;
            padding: 40px;
        }
        
        .eeCell {
            display: table-cell;
        }
        
        @media (max-width: 767px) {
            .eeCell {
                display: block;
                width: 100% !important;
                text-align: center !important;
            }
        }
        
        .eeEasyStepsSectionBody .eeCell.eeRight {
            text-align: right;
        }
        
        .eeEasyStepsSectionBody .eeCell.eeLeft,
        .eeEasyStepsSectionBody .eeCell.eeRight {
            width: 50%;
            vertical-align: middle;
        }
        
        @media (max-width: 767px) {
            .eeReversedRow {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
            }
        }
        
        @media (max-width: 767px) {
            .eeReversedRow .eeCell {
                -webkit-order: 2;
                -ms-flex-order: 2;
                order: 2;
            }
        }
        
        @media (max-width: 767px) {
            .eeReversedRow .eeCell.eeRight {
                -webkit-order: 1;
                -ms-flex-order: 1;
                order: 1;
            }
        }
        
        .eeEasyStepsSectionBody .eeTitle {
            font-size: 1.5rem;
            font-weight: 700;
        }
        
        .eeTitle {
            font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
            color: #303236;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 15px;
            margin-top: 15px;
            line-height: normal;
        }
        
        .eeEasyStepsSectionBody .eeText {
            font-size: 1rem;
        }
        
        .how-header {
            color: #0a0f14;
            font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
        }
        
        .style-two {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }
        
        .eeText {
            color: #6a6d75;
            font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
            font-weight: 400;
            font-size: 13px;
        }
        
        .eeEasyStepsSectionBody .eeImage svg {
            width: 20rem;
            height: 10rem;
        }

        .home-page-section {
            position: relative;
            margin-bottom: 70px;
            text-align: center;
        }        
        .verti-line {
            background: #3ACC6C;
            position: absolute;
            height: 100%;
            z-index: -1;
            width: 2px;
            top: 0;
            left: 0;
            right: 0;
            margin: 4px auto;
        }
        @media screen and (max-width: 767px)
        {.verti-line {
            display: none;
        }
        }


        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
        .pos-rel {
            position: relative;
        }
        .textAlineRight {
            text-align: right;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 55%;
        }
        .center {
            text-align: center;
        }
        .middleImageSteps {
            text-align: center;
        }
        .middleImageSteps img{
            width: 60px;
        }
        @media screen and (max-width: 767px)
        { .middleImageSteps img
        {
            display: none;
        }
        }
        @media screen and (max-width: 767px)
        { .noDisplayInMob img
        {
            display: none;
        }
        }
        @media screen and (max-width: 767px)
        { .sellingText
        {
            text-align: left!important;
        }
        }
        .sellingText {
            text-align: left;
        }
        .sellingText {
            font-size: 18px;
            color: #000;
        }
        .sellingText span {
            margin-left: 15px;
        }
        .sellingText span {
            font-size: 23px;
            display: block;
            color: #007D51;
        }
        .cus-pd {
            padding: 10px 40px 60px 15px;
        }
        .sellingText li {
            color: #999;
            margin-left: 20px;
        }
        
        .mb-10 {
            margin-bottom: 10px !important;
        }
        .sellingText li span {
            font-size: 16px;
            color: #999;
            margin: 0;
        }
        #home-page .sellingText span {
            margin-left: 15px;
        }
        .textAlineLeft {
            text-align: left;
        }

        h1.sellingOnSnapdeal {
            font-size: 40px;
            color: #333;
            margin: 0 0 70px 0;
            padding: 0;
        }



.ud-component--teach-page--app {
    white-space: pre-line;
}
.here-to-help {
    background: #505763 url(../images/service1.jpg) center center no-repeat;
    background-size: cover;
    height: 500px;
}

.bg-image {
    color: #fff;
}
.here-to-help .container {
    padding-top: 55px;
    padding-bottom: 70px;
}

@media (min-width: 1200px)
{
    .here-to-help .container {
    width: 1170px;
}}
@media (min-width: 992px)
{.here-to-help .container {
    width: 970px;
}}
@media (min-width: 768px)
{.here-to-help .container {
    width: 750px;
}}
.here-to-help .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;
}
 .here-to-help .small-content {
    max-width: 750px;
}
 .small-content {
    max-width: 510px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 .text-shadow {
    text-shadow: 0 2px 4px rgba(41,48,59,.5);
}

 .title {
    margin-top: -10px;
    text-align: center;
}
.here-to-help .subtext {
    font-size: 20px;
    line-height: 29px;
    padding: 100px 0;
}
.subtext {
    font-weight: 400;
}
 .text-shadow {
    text-shadow: 0 2px 4px rgba(41,48,59,.5);
}
.text-center {
    text-align: center;
}
@media screen and (max-width: 767px)
{ .small-content h1
{
    font-size: 1.5rem;
    margin-top: -60px;
}
}
@media screen and (max-width: 767px)
{ .small-content .subtext
{
    font-size: 1rem;
    line-height: 25px;
}
}
.channels--teach .discovery-unit-container>.unit-wrapper:nth-of-type(even) {
    background: #fff;
}
.ud-component--teach-page--app {
    white-space: pre-line;
}
.channels--teach .container {
    padding-top: 55px;
    padding-bottom: 70px;
}

.teaching-signup-button--cta--fMxEG {
    padding: 17px 60px;
}
.become-instructor h1{
    font-size: 36px;
    font-weight: 400;
    margin-top: 21px;
    margin-bottom: 10.5px;
    line-height: 1.1;
    color: inherit;
}
.become-instructor h3
{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 21px;
    margin-bottom: 10.5px;
    line-height: 1.1;
    color: inherit;
}

.gradient-2,
.site-footer,
.top-bar {
    background: #35EAB6;
    background-image: linear-gradient(to left top, #35eab6, #31e1ac, #2dd7a1, #28ce97, #24c58d, #20bc85, #1cb37c, #17aa74, #129f6b, #0c9362, #058859, #007d51);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#35EAB6', endColorstr='#007D51', GradientType=1);
}

.site-footer {
    padding: 4em 0;
}

.site-footer .border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.site-footer p {
    color: #fff;
}

.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
    color: #fff;
}

.site-footer a {
    color: rgba(255, 255, 255, 0.5);
}

.site-footer a:hover {
    color: white;
}

.site-footer ul li {
    margin-bottom: 10px;
}

.site-footer .footer-heading {
    font-size: 16px;
    color: #fff;
}

.footer-suscribe-form .form-control {
    color: #000;
}

.footer-suscribe-form .form-control:hover,
.footer-suscribe-form .form-control:active,
.footer-suscribe-form .form-control:focus {
    color: #000 !important;
}

.footer-suscribe-form .btn {
    background: #7a5e86;
    color: #fff;
    border-color: #7a5e86;
}

.footer-suscribe-form .btn :hover {
    background: #1eb980 !important;
    color: #fff;
    border-color: #7a5e86;
}

.icon-linkedin:before {
    content: "\f0e1";
}

a:hover, a:active {
    font-weight: bolder;
    text-decoration: none;
}

.site-logo-tu {
    width: 3.5rem;
    padding-bottom: 5px;
}