@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Roboto:wght@400;900&display=swap");

body{
    background: linear-gradient(to right, #11998e, #38ef7ec0);
    overflow-x: hidden;
}

.leftbox
{
    float: left;
    top: 0px;
    justify-content: center;
    z-index: 7;
    align-items: center;
    position: absolute;
    width: 21%;
    height: auto;
    background: #1eb980;
    box-shadow: 3px 3px 10px rgba(119, 119, 119,.5);
    border: 0.2em solid #fff;
}
.display1
{
    text-align: center;
    font-size: 3rem;
    color: #fff;
    font-family: "Roboto",sans-serif;
}
nav a{
    list-style: none;
    padding: 35px;
    color: #fff;
    font-size: 1.1em;
    display: block;
}
nav a span
{
    color: #fff;
    padding-left: 5px;
    font-size: 1em;
}

nav a:hover
{
    color: #10ac84;
    cursor: pointer;
    transform: scale(1.2);
}

nav a:first-child
{
    margin-top: 7px;
}
nav a.active
{
    color:#10ac84 ;
}

.rightbox
{
    width: 100%;
    padding-top: 5px;
    background: #fff;
    height: -webkit-fill-available;
    margin: 0 auto;
    position: absolute;
    box-shadow: 2px 5px 20px rgba(119, 119, 119,.5);
}

.tabShow
{
    transition: all .5s ease-in;
    width: 80%;
    padding-left: 30%;
    position: absolute;
}
h1{
    font-family:"Montserrat",sans-serif ;
    color: #59d664;
    font-size: 1.8rem;
    margin-top: 40px;
    margin-bottom: 35px;
}
h2
{
    color: #777;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 10px;
}
p
{
    border: 0;
    border-bottom: 1px solid #3fb6a8;
    width: 50%;
    font-family:"montserrat",sans-serif;
    font-size: .7em;
    padding: 7px 0;
    color: #070707;
    outline: none;
}
.input
{
    border: 0;
    width: 50%;
    font-family:"montserrat",sans-serif;
    font-size: .7em;
    padding: 7px 0;
    color: #070707;
    background-color: rgb(210, 210, 214);
    outline: none;
}
span
{
    font-size: .7em;
    color: #777;
}
.btn
{
    font-family: "roboto",sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    border: 0;
    color: #fff;
    background: #4ac659;
    padding: 7px 15px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    display: flow-root;
    margin-top: 15px;
}
.tabShow{
    display: none;
}