<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="veiwport" content="width-device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="css/demo.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    </head>
    <body>
        <div class="login">
            <div class="wrap">
                <div id="toggle-wrap">
                    <div id="toggle-terms">
                        <div id="cross">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="terms">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus cupiditate quasi explicabo. Ea voluptatem nihil id corrupti dicta omnis dolorum distinctio quidem quas, mollitia dignissimos? Ab distinctio, aperiam tenetur, eveniet sapiente possimus corrupti, laudantium veritatis harum quis excepturi ipsum a id quos doloribus laboriosam sequi reiciendis error maiores! Sit, adipisci.
                </div>
                <div class="recovery">
                    <h2>Password Recovery</h2>
                    <p>Enter either the <strong>email address</strong>or <strong>username</strong>on the account and <strong>click submit</strong></p>
                    <p>We'll email instructions on how to reset your password</p>
                    <form class="recovery-form" action="" method="post">
                        <input type="text" class="input" id="user_recover" placeholder="Enter Email or Username Here">
                        <input type="submit" class="button" value="Submit">
                    </form>
                    <p class="mssg">An email has been sent to you with further instructions</p>
                </div>
               <div class="content">
                   <div class="logo">
                       <a href="#" src="images/slider_logo.jpg" alt=""></a>
                   </div>
                   <div id="static">
                       <div class="one">
                           <h2><span>TUDU</span></h2>
                           <p>Sign up to get best service professionals at lowest prices on just a click of button</p>
                       </div>
                    </div>
                </div>
                <div class="user">
                    <div class="form-wrap">
                        <div class="tabs">
                            <h3 class="login-tab"><a class="log-in active" href="#login-tab-content"><span>Login</span></a></h3>
                            <h3 class="signup-tab"><a class="sign-up" href="#signup-tab-content"><span>Sign Up</span></a></h3>
                        </div>
                        <div class="tabs-content">
                            <div id="login-tab-content" class="active">
                                <form class="login-form" action="" method="post">
                                    <input type="text" class="input" id="user_login" autocomplete="off" placeholder="Email or Username">
                                    <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password">
                                    <input type="checkbox" class="checkbox" checked id="remember_me">
                                    <label for="remember_me">Remember Me</label>
                                    <input type="submit" class="button" value="Login">
                                </form>
                                <div class="help-action">
                                    <p><i class="fa fa-arrow-left" aria-hidden="true"></i><a class="forgot" href="#">Forgot your Password</a></p>
                                </div>
                            </div>
                            <div id="signup-tab-content">
                                <form class="signup-form" action="" method="post">
                                    <input type="text" class="input" id="user_fname" autocomplete="off" placeholder="First Name">
                                    <input type="text" class="input" id="user_lname" autocomplete="off" placeholder="Last Name">
                                    <input type="email" class="input" id="user_email" autocomplete="off" placeholder="Email">
                                    <input type="text" class="input" id="user_name" autocomplete="off" placeholder="Username">
                                    <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password">
                                    <input type="submit" class="button" value="Sign Up">
                                </form>
                                <div class="help-action">
                                    <p>By signing up,you agree to our</p>
                                    <p><i class="fa fa-arrow-left" aria-hidden="true"></i><a class="agree" href="#">Terms of Service</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/demo.js"></script>
    </body>
</html>